:root {
  --navBarW: 12vw;
}

body {
  flex-direction: row;
}

header {
  flex-direction: column;
  height: 100vh;
  width: var(--navBarW);
  font-size: calc(var(--navBarW)/7);
}

iframe {
  width: 80vw;
  height: 50vh;
}

header h1 {
  display: block;
  margin: 1vh 0 4vh 0;
  font-size: calc(var(--navBarW)/5);
}

.mainContent {
  margin: 2vw 2vw 4vh 2vw;
}

.navBar {
  flex-direction: column;
  margin: 1vh 0 0 0;
  height: 60vh;
  padding-left: 0;
}

.navBar li {
  width: var(--navBarW);
}

.navBar li a {
  padding: 4vh 0 4vh 0;
}